hpd-providerdir-ws/src/main/resources/META-INF/xsd/CS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ehealth-suisse:names:tc:CS:1" xmlns:dsml="urn:oasis:names:tc:DSML:2:0:core" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="urn:ehealth-suisse:names:tc:CS:1">

	<xsd:import schemaLocation="DSMLv2.xsd" namespace="urn:oasis:names:tc:DSML:2:0:core" />

	<xsd:element name="downloadRequest">
		<!-- **** Download Request **** -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="authRequest" type="dsml:AuthRequest" minOccurs="0" maxOccurs="1" />
			</xsd:sequence>
			<xsd:attribute name="requestID" type="xsd:string" use="optional" />
			<xsd:attribute name="fromDate" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="toDate" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="filterMyTransactions" use="optional" default="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean" />
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="downloadResponse">
		<!-- **** Download Response **** -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="dsml:batchRequest" maxOccurs="unbounded" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="requestID" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>

</xsd:schema>